<script>
    function addToCart(cid, pid) {
        fetch(`http://localhost:8080/api/carts/${cid}/products/${pid}`, {
            method: "post"
        })
        window.location.href= 'http://localhost:8080/products'
    }
</script>

<div class="card d-flex justify-content-center my-3 mx-5" style="width: 75%;">
    <div class="row bg-light">
        <div class="col-md-4">
            <img src='{{product.thumbnail}}' class="img-fluid rounded-start" alt="{{product.title}}">
        </div>
        <div class="col-md-8">
            <div class="card-body text-center">
                <h3 class="card-title mb-5">{{product.title}}</h5>
                    <p class="card-text fs-6 text-start">{{product.description}}</p>
                    <p class="card-text fw-semibold my-3 fs-4">USD {{product.price}}</p>
                    <a href="/products" class="btn btn-secondary">Home</a>
                    <a class="btn btn-secondary" onclick="addToCart('{{user.cart}}','{{product._id}}')">Add to cart</a>

            </div>
        </div>
    </div>
</div>